html{
    font-size:13px;
}
.name{
    font-size: 2rem;
    color:aqua;
}

.title{
    font-size: 2rem;
    color:white;
}

.photo-description-container{
    width:100vw;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin-left:2dvw;
    margin-right:2dvw; */
    /* background-color: lightblue; */
}



.description{
    width:62%;
    height: auto;
    display: grid;
    grid-template-rows:auto auto auto auto auto;
    align-items: center;
    row-gap: 5%;
    padding-right: 2%;
    padding-left: 2%;
    /* background-color: lightcoral; */
}

.short-description{
    font-size:1.2rem;
    color:white;
}

/* .myself{
    font-size: 50px;
    padding-top:20px;
    padding-bottom: 20px;
    color:aqua;

} */

.description-button-container{
    display: flex;
    justify-content: space-between;
}

.download-resume-button{
    background-color:green;
    color:white;
    display: flex;
    flex-direction: row;
    justify-self: start;
    align-items: center;
    cursor:pointer;
    border-radius: 20px;
    width: auto;
    padding-left:1%;
    padding-right: 1%;
    font-weight: 0.8;
    margin-bottom:1%;
    font-size:1.1rem;
}
.download-resume-button:hover{
     background-color:rgb(14, 103, 14);
    color:white;
    display: flex;
    flex-direction: row;
    justify-self: start;
    align-items: center;
    cursor:pointer;
    border-radius: 60px;
    width: auto;
    padding-left:1%;
    padding-right: 1%;
    font-weight: 0.8;
    box-shadow: 0.05% 0.05% 1% rgba(222, 220, 220, 0.5);
    margin-bottom: 1%;
    font-size:1.1rem;
}

.download-icon{
    width:1.5vw;
    margin-left:0.5vw;
    padding:0.3vw;
    background-color: white;
    background-color: transparent;
}

.view-project-button{
    color:blue;
    display: flex;
    flex-direction: row;
    justify-self: start;
    align-items: center;
    cursor:pointer;
    border-radius: 10px;
    width: auto;
    padding-left:0.6vw;
    padding-right: 0.6vw;
    font-weight: 0.8;
    margin-left:0.6vw;
    margin-bottom:0.6vw;
    border:2px solid blue;
    font-size:1.1rem;
}

.view-project-button:hover{
    border:2px solid transparent;
    color:white;
    display: flex;
    flex-direction: row;
    justify-self: start;
    align-items: center;
    cursor:pointer;
    border-radius: 60px;
    width: auto;
    padding-left:0.6vw;
    padding-right: 0.6vw;
    font-weight: 0.8;
    box-shadow: 5px 5px 10px rgba(255,255,255,0.5);
    margin-bottom: 0.6vw;
    font-size:1.1rem;
}

.photo-div{
    height: auto;
    width: 34%;
    padding-left:7%;
    /* background-color: red; */
}

.owner-photo{
    width:80%;
    height: auto;
    object-fit: cover;
    border:2px white solid;
    border-radius: 50%;
}


.project-description-container{
    
}

.projects-header{   
    font-size:3.1rem;
    text-align: center;
    margin:30px;
}

.project-container{
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
}

.projects{
    background-color: white;
    height:50px;
    width:200px;
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10px;
    border-radius: 30px;
    border:2px solid aqua;
}

a{
    color:rgb(13, 86, 86);
}

@media(max-width:900px){
    html{
        font-size:10px;
    }
}

@media(max-width:600px)
{
    body{
        width: 100dvw;
        height: 100dvh;
    }
    html{
        font-size:10px;
    }

    .photo-description-container{
        /* display: flex; */
        /* flex-direction: column; */
        /* align-items: stretch; */
        flex-wrap: wrap;
    }
    .description{
        width: 96%;
        padding-left: 2%;
        padding-right: 2%;
    }
    .photo-div{
        width: 40%;
    }
}


@media(max-width:480px)
{
    html{
        font-size:13px;
    }

    body{
        height: 100dvh;
        width: 100dvh;
    }

    .photo-description-container{
        /* display:flex; */
        /* flex-direction: column; */
        flex-wrap: wrap;
    }

    .photo-div{
        width:80%;
    }
    .description{
        width: 96%;
        padding-left: 2%;
        padding-right: 2%;
    }
}


