body{
}

.name{
    font-size: 3vw;
    color:aqua;
}

.title{
    font-size: 2vw;
    color:white;
}

.photo-description-container{
    height: auto;
    width:95vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left:2vw;
    padding-right:2vw;
}

.description{
    height: auto;
    min-width:50vw;
    width: auto;
    display: grid;
    grid-template-rows:auto auto auto auto auto;
    align-items: center;
    row-gap: 5%;
    padding:3%;
    margin-right: 5%;
    border-radius: 50px;
    border:2px solid aqua;
    padding-bottom: 5%;
}

.short-description{
    font-size:1.2vw;
    color:white;
}

/* .myself{
    font-size: 50px;
    padding-top:20px;
    padding-bottom: 20px;
    color:aqua;

} */

.description-button-container{
    display: flex;
    justify-content: space-between;
}

.download-resume-button{
    background-color:green;
    color:white;
    display: flex;
    flex-direction: row;
    justify-self: start;
    align-items: center;
    cursor:pointer;
    border-radius: 20px;
    width: auto;
    padding-left:1%;
    padding-right: 1%;
    font-weight: 0.8;
    margin-bottom:1%;
    font-size:1.2vw;
}
.download-resume-button:hover{
     background-color:rgb(14, 103, 14);
    color:white;
    display: flex;
    flex-direction: row;
    justify-self: start;
    align-items: center;
    cursor:pointer;
    border-radius: 60px;
    width: auto;
    padding-left:1%;
    padding-right: 1%;
    font-weight: 0.8;
    box-shadow: 0.05% 0.05% 1% rgba(222, 220, 220, 0.5);
    margin-bottom: 1%;
    font-size:1.2vw;
}

.download-icon{
    width:1.5vw;
    margin-left:0.5vw;
    padding:0.3vw;
    background-color: white;
    background-color: transparent;
}

.view-project-button{
    color:blue;
    display: flex;
    flex-direction: row;
    justify-self: start;
    align-items: center;
    cursor:pointer;
    border-radius: 10px;
    width: auto;
    padding-left:0.6vw;
    padding-right: 0.6vw;
    font-weight: 0.8;
    margin-left:0.6vw;
    margin-bottom:0.6vw;
    border:2px solid blue;
    font-size:1.2vw;
}

.view-project-button:hover{
    border:2px solid transparent;
    color:white;
    display: flex;
    flex-direction: row;
    justify-self: start;
    align-items: center;
    cursor:pointer;
    border-radius: 60px;
    width: auto;
    padding-left:0.6vw;
    padding-right: 0.6vw;
    font-weight: 0.8;
    box-shadow: 5px 5px 10px rgba(255,255,255,0.5);
    margin-bottom: 0.6vw;
    font-size:1.2vw;
}

/* .photo-div{
     height: 50%
    width:50%;
} */

.owner-photo{
    height: 50%;
    width: 50%;
    object-fit: cover;
    border:2px white solid;
    border-radius: 50%;
    margin-left:7vw;
}


.project-description-container{
    
}

.projects-header{   
    font-size:50px;
    text-align: center;
    margin:30px;
}

.project-container{
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
}

.projects{
    background-color: white;
    height:50px;
    width:200px;
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10px;
    border-radius: 30px;
    border:2px solid aqua;
}

a{
    color:rgb(13, 86, 86);
}

